
<div class="row">
        <div class="col-lg-12">   
                    <div style="margin-left:15px;">  
                    <h1>
                            Share this:
                    </h1>

<p>
                        <a href="https://www.facebook.com/synsationbranddesign/?fref=ts" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=200,height=250'); return false">
                        <button type="button" style="width:200px" class="btn btn-dander"><span class="fa fa-facebook"></span> Facebook</button></a>
</p>
<p>
                        <a href="https://www.linkedin.com/company-beta/3579879/" title="Share on LinkedIn" target="_blank" >
                        <button type="button" style="width:200px" class="btn btn-success"><span class="fa fa-linkedin"></span> Linkedin</button></a>
</p>
<p>
                        <a href="mailto:info@synsation.nl?subject=http%3A//www.synsation.nl&body=http%3A//www.synsation.nl" target="_top">
                        <button type="button" style="width:200px" class="btn btn-warning"><span class="fa fa-envelope"></span> Email</button></a> 
                    </p>
     

                    </div>
        </div>

</div>